<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
  <title><%= title %></title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
<body>
<div class="container">
<% if(urlList.length) { %>
  <% urlList.forEach(function(url) { %>
    <div class="item">
      <span class="remove"></span>
      <span class="edit"></span>
        <a href="<%= url.url %>" target="_blank" name="<%= url._id %>" id="<%= url._id %>"><%= unescape(url.title) %></a>
  </div>
  <% }); %>
    <button class="clear-all">Delete All</button>
    <% if(httpAuth) { %>
      <!-- THIS IS SUCH A HACK!!! -->
      <button class="logout" onclick="location.href='http://log:out@' + window.location.host;">Logout</button>
    <% } %>
<% } else { %>
  <!-- <h3>Nothing to see here. Move along!</h3> -->
<% } %>
</div>
<script type="text/javascript">
  var clearAll = document.getElementsByClassName('clear-all')[0];
  clearAll.addEventListener('click', function(event) {
    httpGet(window.location.href + "clear");
    location.reload();
  });

  var remove = Array.prototype.slice.call(document.getElementsByClassName('remove'));
  remove.forEach(function(el) {
  // Add event listener
    el.addEventListener('click', function(event) {
      var toRemove = window.location.href + "remove?item=" + el.parentElement.children[2].id;
      //var toRemove = window.location.href + "remove?item=" + el.parentElement.children[1].name;
      httpGet(toRemove);
      location.reload();
    });
  });

  var edit = Array.prototype.slice.call(document.getElementsByClassName('edit'));
    edit.forEach(function(el) {
      el.addEventListener('click', function(event) {
        item = el.parentElement.children[2];
        if (!item.hasAttribute('contenteditable')) {
          item.setAttribute('contenteditable', 'true');
          item.addEventListener('keydown', function (event) {
            var esc = event.which == 27,
                nl = event.which == 13,
                el = event.target,
                input = el.nodeName != 'INPUT' && el.nodeName != 'TEXTAREA',
                data = [];

            if (input) {
              if (esc) {
                // restore state
                document.execCommand('undo');
                el.blur();
                el.removeAttribute('contenteditable');
              } else if (nl) {
                // save
                data = [el.getAttribute('id'), el.innerHTML];
                el.removeAttribute('contenteditable');

                // ajax request to update the field
                var toEdit = window.location.href + "edit?item=" + data[0] + "&title=" + data[1];
                httpGet(toEdit);

                el.blur();
                event.preventDefault();
              }
            }
          }, true);
        } else {
          item.removeAttribute('contenteditable');
        }
      });
    });

  function httpGet(theUrl) {
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
</script>
</body>
</html>
